<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <!-- JavaScript Bundle with Popper -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.1/mdb.min.css" rel="stylesheet"/>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto:wght@300&display=swap" rel="stylesheet">
        
        <!-- Code for Time Picker -->
        <link rel="stylesheet" href="//jonthornton.github.io/jquery-timepicker/jquery.timepicker.css">
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
        <script src="//jonthornton.github.io/jquery-timepicker/jquery.timepicker.js"></script>
        <style>
            .table th{
                font-family:"Indie Flower";
                font-size:28px;
                color:#2a9d8f;
            }

            .table tr {
                font-weight:bold;
                text-align:center;
                color:#264653;
            }

            .body{
                font-family: 'Roboto', sans-serif;
                font-size:24px;
                }

            .btn-update{
                background-color:#2a9d8f;
            }

            .btn-delete{
                background-color:#2a9d8f;
            }
        </style>
    </head>
    <body onload = getBookings()>
      <nav class="navbar navbar-expand-lg bg-light" style = "background-color: #e76f51 !important; height:60px;">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link ms-auto" aria-current="page" href="home" style = "margin-right:50px;margin-left:20px; color:white; font-family:Indie Flower; font-size:25px;">Home</a>
              <a class="nav-link active" href="viewservices" style = "margin-right:40px;color:white; font-family:Indie Flower; font-size:25px;">Services</a>
              <a class="nav-link" href="viewbookings" style = "margin-right:40px; color:white; font-family:Indie Flower; font-size:25px;">Bookings</a>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
              <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <span class = "navbar-text" id = "holdLoginDetails" style = "margin-right:100px; font-family: Indie Flower; color:white;font-size:25px"> Welcome {{ loggedInUser|default('You are not logged in') }} </span>
                <a class="nav-link" href="logout" id = "logoutlink" style = "color:white; font-family:Indie Flower; font-size:25px;">Log Out</a>
                <a class="nav-link" href="login" id = "loginlink" style = "display:none;color:white; font-family:Indie Flower; font-size:25px;">Log In</a>
              </div>
            </div>
        </div>
      </nav>
        <div
        class="bg-image p-5 text-center shadow-1-strong  mb-5 text-white"
        style="background-image: url('../static/dogbanner1.jpg');height:300px;opacity:0.8">
        <h1 class="mb-3 h2" style = "margin-top:4rem;color:#2a9d8f;font-size:60;height:80;max-width:25%;font-weight:bold;margin-left:9em;font-family: 'Indie Flower', sans-serif;">Appointments</h1>
        </div> 
      </div>

        <div id = "holdBookingId" style = "display:none">
            <h5 id = "BookingId"></h5>
        </div>

        <div id = "holdRowIndex" style = "display:none">
            <h5 id = "BookingId"></h5>
        </div>
        <div id = "createNew" class ="row justify-content-center" style = "margin-left:200px;margin-right:200px;margin-bottom:50px">
            <button type = "button" class = "btn btn-primary btn-update" onclick = "createNewMenu()"> Create New</button>
    
        </div>
        <div id = "table">
        <table id = "BookingTable" class = "table table-hover table-borderless" style = "background-color:white;">
            <tr>
                <th>Dog</th>
                <th>Treatment</th>
                <th>Date</th>
                <th>Time</th>
                <th>Booking ID</th>
            </tr>
        </table>
        </div>
        <!-- Modals to update/create new bookings -->
        <div class="modal fade" id="updateBooking" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modify Booking</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form>
                    <h6 class="modal-title" id="BookingReference"></h6>
                    <div class="mb-3">
                      <label for="serviceinput" class="col-form-label">Service:</label>
                      <select type="text" class="form-control" id="serviceinput"></select>
                    </div>
                    <div class="mb-3">
                        <label for="dateinput" class="col-form-label">Date:</label>
                        <input type="date" class="form-control" id="dateinput">
                      </div>
                    <div class="mb-3">
                      <label for="timeinput" class="col-form-label">Time:</label>
                      <input type = "text" id="timeinput"class="form-control timepicker"></textarea>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" id = "UpdateAppt" onclick = updateBooking()>Update Appointment</button>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="newBooking" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">New Booking</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form>
                    <h6 class="modal-title" id="BookingReference"></h6>
                    <div class="mb-3">
                        <label for="newserviceinput" class="col-form-label">Service:</label>
                        <select type="text" class="form-control" id="newserviceinput"></select>
                      </div>
                    <div class="mb-3">
                      <label for="newdoginput" class="col-form-label">Dog:</label>
                      <select type="text" class="form-control" id="newdoginput"></select>
                    </div>
                    <div class="mb-3">
                        <label for="newdateinput" class="col-form-label">Date:</label>
                        <input type="date" class="form-control" id="newdateinput">
                      </div>
                    <div class="mb-3">
                      <label for="newtimeinput" class="col-form-label">Time:</label>
                      <input type = "text" id="newtimeinput"class="form-control timepicker"></textarea>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" id = "UpdateAppt" onclick = createBooking()>New Appointment</button>
                </div>
              </div>
            </div>
          </div>
        
        </table>

        <script>
            getServices();
            getDogs();

           //Get timepicker to only display 8am to 5pm

            $('.timepicker').timepicker( {
              'show2400': true,
              'timeFormat': 'H:i',
              'minTime' : '08:00',
              'maxTime' : '17:00'
            }
          );

          // Keep track of whether a user is logged in and change navbar details accordinly
            function updateNavBar() {
            var user = "{{loggedInUser}}";
            if(user == "") {
              document.getElementById("holdLoginDetails").innerHTML = "";
              document.getElementById("logoutlink").style.visibility = "hidden";
              document.getElementById("loginlink").style.display = "block";

            }
            else {
              document.getElementById("logoutlink").style.display = "block";
              document.getElementById("loginlink").style.display = "none";

            }
          }
            function getBookings() {
                host = window.location.origin
                $.ajax( {
                    method:"GET",
                    url:"/bookings",
                    data:"",
                    dataType:"JSON",

                    //Get all appointment data and contstruct table with response
                    "success":function(response){
                        for (var i = 0; i <response.length; i++) {
                            var row = $('<tr><td>' + response[i].Dog+ '</td><td>' + response[i].Service + '</td><td>' + response[i].date + '</td><td>' + response[i].time + '</td><td>'+ response[i].id + '</td><td>'+'<button class = "btn btn-primary btn-sm btn-update">Update</button>'+ '</td><td>'+'<button class = "btn btn-primary btn-sm btn-delete style = "background-color:blue">Cancel</button>'+'</td></tr>');
                            $('#BookingTable').append(row);
                        }
                    }
                }                   
            )
            }

            $("#BookingTable").on('click','.btn-delete',function(){
                // get the current row
                var currentRow=$(this).closest("tr");       
                var col5=currentRow.find("td:eq(4)").text(); // get appt ID to delete

                $.ajax( {
                    method:"DELETE",
                    url:"/deletebooking/"+col5,
                    data:"",
                    dataType:"JSON",

                    "success":function(response){
                        alert("Appointment Cancelled!");
                        currentRow.remove();
                    },
                    "error":function(xhr,status,error){
                        console.log("status:"+status+" message:"+error);
                    }
                }
                )
                         
            });

            //Keep track of row user clicked on so correct one is updated
            currentIndex = 0;

            $("#BookingTable").on('click','.btn-update',function(){
                // get the current row
                var currentRow=$(this).closest("tr");
                var serviceval=currentRow.find("td:eq(1)").text();
                var dateval=currentRow.find("td:eq(2)").text();
                var timeval=currentRow.find("td:eq(3)").text();
                var idval=currentRow.find("td:eq(4)").text();

                document.getElementById("BookingReference").innerHTML = "Reference ID : " + idval + ""
                document.getElementById("BookingId").innerHTML = idval;
                document.getElementById("dateinput").value = dateval;
                document.getElementById("timeinput").value = timeval;
                document.getElementById("serviceinput").value = serviceval;

                currentIndex = currentRow.index();

                $('#updateBooking').modal('show');
            });

            function updateBooking() {
                var table = $("#BookingTable")
                var currentRow = table.find('tr').eq(currentIndex);

                $('#updateBooking').modal('hide');
                var newdateval = document.getElementById("dateinput").value;
                var newtimeval = document.getElementById("timeinput").value;
                var bookingid =  document.getElementById("BookingId").innerHTML;
                var newserviceval = document.getElementById("serviceinput").value;
                

                $.ajax({
                    method:"POST",
                    url:"/updatebooking/"+bookingid+"/"+newdateval+"/"+newtimeval+"/"+encodeURI(newserviceval),
                    data:"",
                    dataType:"JSON",

                    //If update was successful - overwrite table row with new data
                    "success":function(response){
                        currentRow.find("td:eq(1)").text(newserviceval);
                        currentRow.find("td:eq(2)").text(newdateval);
                        currentRow.find("td:eq(3)").text(newtimeval);
                    },
                    "error":function(xhr,status,error){
                        console.log("status:"+status+" message:"+error);
                    }

                })

            }

            function createBooking() {
              //After user clicks to create new booking, will want this modal to be hidden
                $('#newBooking').modal('hide');
                var newBooking = {};
                newBooking.servicename = document.getElementById("newserviceinput").value;
                newBooking.dog = document.getElementById("newdoginput").value;
                newBooking.date = document.getElementById("newdateinput").value;
                newBooking.time = document.getElementById("newtimeinput").value;

                var bookingTable = document.getElementById("BookingTable")
                //console.log(JSON.stringify(newBooking));

                $.ajax({
                method:"POST",
                url:"/newbooking/"+newBooking.dog+"/"+newBooking.date+"/"+newBooking.time+"/"+encodeURI(newBooking.servicename),
                data:"",
                dataType:"JSON",

                "success":function(response){
                    newBooking.id = response;
                    console.log(JSON.stringify(newBooking))
                    addBookingToTable(newBooking)

                },
                "error":function(xhr,status,error){
                    console.log("status:"+status+" message:"+error);
                }   

            })               
            }

            //Insert new appointment ito table, include update/delete buttons
            function addBookingToTable(newBooking){
                var tableElement = document.getElementById('BookingTable');
                var rowElement = tableElement.insertRow(-1);
                rowElement.setAttribute('id',newBooking.id);
                var cell1 = rowElement.insertCell(0);
                cell1.innerHTML = newBooking.dog;
                var cell2 = rowElement.insertCell(1);
                cell2.innerHTML = newBooking.servicename;
                var cell3 = rowElement.insertCell(2);
                cell3.innerHTML = newBooking.date;
                var cell4 = rowElement.insertCell(3);
                cell4.innerHTML = newBooking.time;
                var cell5 = rowElement.insertCell(4);
                cell5.innerHTML = newBooking.id;
                var cell6 = rowElement.insertCell(5);
                cell6.innerHTML = '<button class = "btn btn-primary btn-sm btn-update">Update</button>';
                var cell7= rowElement.insertCell(6);
                cell7.innerHTML = '<button class = "btn btn-primary btn-sm btn-delete">Cancel</button>';

            }

            function getServices() {
              //When page loads, get all services - these will be used to populate service dropdowns on create/update modals
                updateNavBar();
                host = window.location.origin;
                $.ajax( {
                    method:"GET",
                    url:"/services",
                    data:"",
                    dataType:"JSON",

                    "success":function(response){
                        var select = document.getElementById("serviceinput")
                        for (var i = 0; i <response.length; i++) {
                            var opt = response[i].name;
                            var el = document.createElement("option");
                            el.textContent = opt;
                            select.appendChild(el);

                        }

                        var select = document.getElementById("newserviceinput")
                        for (var i = 0; i <response.length; i++) {
                            var opt = response[i].name;
                            var el = document.createElement("option");
                            el.textContent = opt;
                            select.appendChild(el);

                        }
                    }
                }                     
                )
            }

            function getDogs() {
               //When page loads, get all dogs - these will be used to populate dog name dropdowns on create modal
                $.ajax( {
                    method:"GET",
                    url:"/dogs",
                    data:"",
                    dataType:"JSON",

                    "success":function(response){
                        var select = document.getElementById("newdoginput")
                        for (var i = 0; i <response.length; i++) {
                            var opt = response[i].name;
                            var el = document.createElement("option");
                            el.textContent = opt;
                            select.appendChild(el);

                        }
                    }
                }                     
                )
            }

            function createNewMenu() {
            $('#newBooking').modal('show');
            }

        </script>

    </body>

</html>